.codontable {
	border: solid black medium;

}

header {
	colspan=2
}

td {
	border: 1px solid black;
}

.stop {
	background-color: grey;
}

.nonpolar {
	background-color: gold;
}

.polar {
	background-color: aqua;
}

.basic {
	background-color: blueviolet;
}

.acidic {
	background-color: pink;
}